/* --abstracts-- */
/*
COLORS:


Light blue: #B9DDF3
Medium blue:#8FC8EB
Dark blue:#1C84C4

Medium green #49A078
Dark green: #093A3E
White: #FFFFFF
Black: #001011
*/
.center-text {
  text-align: center; }

.margin-top-small {
  margin-top: 1.5rem; }

.margin-top-medium {
  margin-top: 3rem; }

.margin-top-big {
  margin-top: 6rem; }

.margin-bottom-small {
  margin-bottom: 1.5rem; }

.margin-bottom-medium {
  margin-bottom: 3rem; }

.margin-bottom-big {
  margin-bottom: 6rem; }

/*
*Possible breakpoints

0px- 350px = actual style (a-s)
350px - 600 = phone
760px - 1110px = tablet portrait
1110px - 1360px = tablet landscape
1360 - 1800px = big desktop
1800px+ = large desktop

?It can change in the future!

* $breakpoints argument choices:

- phone
- tablet-portrait
- tablet-landscape
- big-desktop
- large-desktop


1em = 16px
*/
/* --base-- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 0) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 47.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 69.375em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 85em) {
    html {
      font-size: 75%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 87.5%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400; }
  @media only screen and (min-width: 69.375em) {
    body {
      padding: 3rem; } }

.heading-primary {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  color: #fff; }
  .heading-primary--first {
    font-size: 5.8rem;
    display: block;
    letter-spacing: 2rem;
    line-height: 8rem;
    animation: slideLeft 2s; }
    @media only screen and (min-width: 37.5em) {
      .heading-primary--first {
        letter-spacing: 2rem;
        line-height: 8rem; } }
    @media only screen and (min-width: 69.375em) {
      .heading-primary--first {
        letter-spacing: 3rem;
        line-height: 12rem;
        font-size: 6.6rem; } }
  .heading-primary--second {
    display: block;
    font-size: 1.8rem;
    letter-spacing: 1rem;
    margin-bottom: 6rem;
    animation: slideRight 2s; }
    @media only screen and (min-width: 37.5em) {
      .heading-primary--second {
        letter-spacing: 1.2rem; } }
    @media only screen and (min-width: 69.375em) {
      .heading-primary--second {
        letter-spacing: 1.6rem;
        font-size: 2.4rem; } }

.heading-secondary {
  display: inline-block;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 3.5rem;
  background-image: linear-gradient(to right, #8fc8eb 50%, #1c84c4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent; }

.heading-tertiary {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: #777;
  text-transform: uppercase; }

.paragraph {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #999;
  margin-bottom: 2.5rem; }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  75% {
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  75% {
    transform: translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* --components-- */
.button, .button:link, .button:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  position: relative;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.4rem;
  transition: all 0.2s; }

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2); }
  .button:hover::after {
    transform: scaleX(1.5) scaleY(1.4);
    opacity: 0; }

.button:active, .button:focus {
  outline: none;
  transform: translateY(-1px); }

.button--white {
  background-color: #fff;
  color: #777; }
  .button--white::after {
    background-color: #eee; }

.button--blue {
  background-color: #1c84c4;
  color: #fff; }
  .button--blue::after {
    background-color: #1c84c4; }

.button::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
  transition: all 0.6s; }

.button__text {
  text-decoration: none;
  color: #1c84c4;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1rem 0;
  border: none;
  border-bottom: 1px solid #1c84c4;
  cursor: pointer;
  transition: all 0.4s; }
  .button__text:hover {
    color: #fff;
    transform: translateY(-12px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    border-color: #1c84c4;
    background-color: #1c84c4; }

.composition__figure {
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media only screen and (min-width: 25em) {
    .composition__figure {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 4rem; } }
  @media only screen and (min-width: 69.375em) {
    .composition__figure {
      flex-direction: column;
      height: 40vh; } }

.composition__img {
  width: 16rem;
  position: relative;
  transition: all 0.5s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  border-radius: 2px; }
  @media only screen and (min-width: 25em) {
    .composition__img {
      width: 18rem;
      box-shadow: none; } }
  @media only screen and (min-width: 69.375em) {
    .composition__img {
      width: 50%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4); } }
  .composition__img--1 {
    left: -2rem; }
    @media only screen and (min-width: 25em) {
      .composition__img--1 {
        top: 0;
        left: 5rem; } }
    @media only screen and (min-width: 69.375em) {
      .composition__img--1 {
        top: 8rem;
        left: -10rem; } }
  .composition__img--2 {
    top: -3rem; }
    @media only screen and (min-width: 25em) {
      .composition__img--2 {
        top: 0;
        left: 0; } }
    @media only screen and (min-width: 69.375em) {
      .composition__img--2 {
        top: -5rem;
        left: 10rem; } }
  .composition__img--3 {
    top: -6rem;
    left: 2.5rem; }
    @media only screen and (min-width: 25em) {
      .composition__img--3 {
        top: 0;
        left: -5rem; } }
    @media only screen and (min-width: 69.375em) {
      .composition__img--3 {
        top: -14rem;
        left: 0; } }
  .composition__img--1:hover, .composition__img--2:hover, .composition__img--3:hover {
    transform: scale(1.2);
    z-index: 100;
    outline: 0.3rem solid #1c84c4;
    outline-offset: 4px;
    border-radius: 0.5rem;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.8); }

.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #eee;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 3rem 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
  transition: all 0.5s; }
  .feature-box:hover {
    transform: translateY(-2rem) scale(1.05);
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.4); }
  .feature-box__icon {
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 4rem;
    background-image: linear-gradient(to right, #8fc8eb 20%, #1c84c4 100%);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent; }
  .feature-box__text {
    margin-top: 1rem;
    color: #999;
    font-size: 1.4rem; }

.tours-card {
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4); }
  .tours-card > * {
    text-align: center; }
  @media only screen and (min-width: 69.375em) {
    .tours-card {
      perspective: 150rem;
      -webkit-perspective: 150rem;
      background-color: transparent;
      box-shadow: none; } }
  .tours-card__side {
    position: relative;
    transition: transform 1s; }
    @media only screen and (min-width: 69.375em) {
      .tours-card__side {
        transform-style: preserve-3d;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4); } }
    .tours-card__side--front {
      background-color: #fff; }
    .tours-card__side--back {
      height: 20rem;
      clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
      border-radius: 0 0 3px 3px; }
      @media only screen and (min-width: 69.375em) {
        .tours-card__side--back {
          clip-path: none;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 30;
          backface-visibility: hidden;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          transform: rotateY(180deg); } }
      .tours-card__side--back-1 {
        background-image: linear-gradient(to right top, #49a078 50%, #093a3e 100%); }
      .tours-card__side--back-2 {
        background-image: linear-gradient(to right top, #8fc8eb 50%, #1c84c4 100%); }
      .tours-card__side--back-3 {
        background-image: linear-gradient(to right top, #ffbf69 50%, #ff9f1c 100%); }
  @media only screen and (min-width: 69.375em) {
    .tours-card:hover .tours-card__side--front {
      transform: rotateY(-180deg); }
    .tours-card:hover .tours-card__side--back {
      transform: rotateY(0); } }
  .tours-card__image {
    width: 100%;
    height: 23rem;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    clip-path: polygon(0 0%, 100% 0, 100% 80%, 0 100%); }
    @media only screen and (min-width: 69.375em) {
      .tours-card__image {
        clip-path: none; } }
    .tours-card__image--1 {
      background-image: linear-gradient(to right, #49a078 50%, #093a3e 100%), url(../../img/nat-6.jpg); }
    .tours-card__image--2 {
      background-image: linear-gradient(to right, #8fc8eb 50%, #1c84c4 100%), url(../../img/nat-7.jpg); }
    .tours-card__image--3 {
      background-image: linear-gradient(to right, #ffbf69 50%, #ff9f1c 100%), url(../../img/nat-5.jpg); }
  .tours-card__heading {
    position: absolute;
    top: 12rem;
    right: 0;
    padding: 1rem 1.5rem;
    z-index: 20;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase; }
    .tours-card__heading--1 {
      background-image: linear-gradient(to right top, rgba(73, 160, 120, 0.6) 50%, rgba(9, 58, 62, 0.6) 100%); }
    .tours-card__heading--2 {
      background-image: linear-gradient(to right top, rgba(143, 200, 235, 0.6) 50%, rgba(28, 132, 196, 0.6) 100%); }
    .tours-card__heading--3 {
      background-image: linear-gradient(to right top, rgba(255, 191, 105, 0.6) 50%, rgba(255, 159, 28, 0.6) 100%); }
  .tours-card__details {
    padding: 2.5rem 4rem;
    color: #777;
    font-size: 1.2rem; }
    .tours-card__details--list {
      list-style: none; }
    .tours-card__details--item {
      padding: 1rem;
      margin: auto; }
    .tours-card__details--item:not(:last-child) {
      border-bottom: 1px solid #eee; }
  .tours-card__cta {
    padding: 4rem 3rem 3rem 3rem;
    color: #fff; }
    @media only screen and (min-width: 69.375em) {
      .tours-card__cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 5rem; } }
  .tours-card__price-only {
    font-size: 1.2rem;
    font-weight: 300; }
    @media only screen and (min-width: 69.375em) {
      .tours-card__price-only {
        text-transform: uppercase;
        font-size: 2rem; } }
  .tours-card__price-value {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 3.4rem;
    font-weight: 200; }
    @media only screen and (min-width: 69.375em) {
      .tours-card__price-value {
        text-transform: uppercase;
        font-size: 6rem; } }

.center-element {
  display: flex;
  justify-content: center;
  align-items: center; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: 0.2; }
  .bg-video video {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.opinion {
  max-width: 70%;
  padding: 3rem;
  margin-bottom: 4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #777;
  font-size: 1.4rem;
  line-height: 2rem;
  border-radius: 3px;
  z-index: 20;
  background-color: rgba(247, 247, 247, 0.8); }
  @media only screen and (min-width: 47.5em) {
    .opinion {
      transform: skew(-8deg);
      width: 60rem; } }
  @media only screen and (min-width: 47.5em) {
    .opinion > * {
      transform: skew(8deg); } }
  .opinion__figure {
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    border-radius: 50%;
    margin-right: 3rem;
    width: 12rem;
    height: 12rem;
    position: relative;
    text-align: center;
    overflow: hidden; }
  .opinion__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    transition: all 0.5s;
    backface-visibility: hidden;
    opacity: 0; }
  .opinion__img {
    height: 100%;
    transform: translateX(-3rem) scale(1.4);
    transition: all 0.4s; }
  .opinion:hover .opinion__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .opinion:hover .opinion__img {
    transform: translateX(-3rem) scale(1);
    filter: blur(3px) brightness(0.8); }

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 4rem;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../../img/nat-10.jpg);
  background-size: cover;
  background-position: left; }
  @media only screen and (min-width: 69.375em) {
    .book {
      width: 80%;
      align-items: flex-start;
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 60%, transparent 60%), url(../../img/nat-10.jpg); } }
  .book__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3rem;
    width: 100%; }
    @media only screen and (min-width: 69.375em) {
      .book__form {
        align-items: flex-start;
        width: 60%; } }
  .book__element {
    width: 85%; }
    .book__element:not(:last-child) {
      margin-bottom: 2rem; }
    @media only screen and (min-width: 69.375em) {
      .book__element:nth-child(3) {
        display: flex;
        align-items: baseline;
        height: 100%; } }
  .book__input {
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 3px;
    border-bottom: 4px solid transparent;
    font-size: 1.3rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #999;
    width: 100%;
    transition: all 0.4s; }
    .book__input:focus {
      outline: none; }
      .book__input:focus:valid {
        border-bottom: 4px solid #8fc8eb;
        outline: none; }
      .book__input:focus:invalid {
        border-bottom: 4px solid #ffbf69;
        outline: none; }
    .book__input:-webkit-placeholder-shown:focus + .book__input__label {
      transform: translateY(1rem);
      opacity: 1;
      visibility: visible; }
    .book__input::-webkit-input-placeholder {
      font-size: 1.3rem;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      color: #777; }
  .book__label {
    display: block;
    margin: 1rem 0 0 2rem;
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #777;
    transition: all 0.4s; }
  .book__input:placeholder-shown + .book__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4.4rem); }
  .book__radio-element {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #777;
    width: 100%; }
    .book__radio-element:not(:last-child) {
      margin-bottom: 1rem; }
  .book__radio-input {
    display: none; }
  .book__radio-label {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    width: 100%; }
  .book__radio-button {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 5px solid #8fc8eb;
    background-color: transparent;
    position: relative; }
    .book__radio-button::after {
      content: "";
      display: block;
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 50%;
      background-color: #8fc8eb;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -45%);
      opacity: 0;
      transition: all ease-in-out 0.2s; }
  .book__radio-input:checked ~ .book__radio-label .book__radio-button::after {
    opacity: 1; }

.button-box {
  align-self: flex-start; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden; }
  .popup:target {
    opacity: 1;
    visibility: visible; }

.popup-inner {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, min-content);
  position: relative;
  width: 70%;
  min-height: 50%;
  background-color: #fff; }
  .popup-inner__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    text-decoration: none;
    color: #001011;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.2s; }
    .popup-inner__close:hover {
      color: #8fc8eb; }
  .popup-inner__picture {
    width: 100%;
    overflow: hidden; }
  .popup-inner__img {
    display: block;
    width: 100%; }
  .popup-inner__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem; }

/* --layout-- */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80vh minmax(min-content, max-content) max-content;
  justify-content: center;
  position: relative; }

.about-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3rem; }
  @media only screen and (min-width: 69.375em) {
    .about-description {
      margin-right: 10rem; } }

@media only screen and (min-width: 69.375em) {
  .about-rows {
    display: flex; } }

.header {
  background-image: linear-gradient(to right bottom, rgba(28, 132, 196, 0.8) 70%, rgba(143, 200, 235, 0.8) 100%), url(../img/hero.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  display: grid;
  justify-items: center;
  z-index: 1000;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
  @media only screen and (min-width: 69.375em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); } }
  .header__logo {
    height: 3rem; }
    .header__logo-box {
      position: absolute;
      left: 0;
      padding: 2.5rem 0 0 2.5rem; }
  .header__heading-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5, minmax(min-content, max-content); }

.footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 6rem 0 6rem 0;
  background-color: #333;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #eee; }
  .footer__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 2.5rem 0 2.5rem;
    gap: 4rem; }
  .footer__img {
    width: 15rem; }
  .footer__nav {
    width: 100%;
    border-top: 1px solid #777; }
    @media only screen and (min-width: 47.5em) {
      .footer__nav {
        margin-bottom: 0; } }
  .footer__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none; }
  .footer__item {
    text-align: center; }
  .footer__link {
    display: inline-block;
    padding: 1rem 0.2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #eee;
    transition: all 0.4s; }
  .footer__link:hover {
    background-color: #333;
    transform: rotate(10deg) scale(1.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    color: #8fc8eb; }

.copyright {
  border-top: 1px solid #777;
  padding: 1rem 0; }
  .copyright__link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #eee;
    cursor: pointer;
    transition: all 0.4s; }
  .copyright__link:hover {
    background-color: #333;
    transform: translateY(-5px) scale(1.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    color: #8fc8eb; }

.hamburger-menu {
  position: absolute; }
  .hamburger-menu__button {
    position: fixed;
    top: 6rem;
    right: 6rem;
    width: 7rem;
    height: 7rem;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    z-index: 2000; }

.hamburger-menu__button:hover > .tiles::before {
  top: -1.2rem; }

.hamburger-menu__button:hover > .tiles::after {
  top: 1.2rem; }

.background-nav {
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#8fc8eb, #1c84c4);
  z-index: 1500;
  transition: all 1.4s ease-out; }

.tiles {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .tiles, .tiles::after, .tiles::before {
    content: "";
    display: block;
    width: 3rem;
    height: 2px;
    background-color: #001011;
    border-radius: 1px;
    transition: all 0.4s; }
  .tiles::after {
    position: absolute;
    top: 1rem;
    left: 0; }
  .tiles::before {
    position: absolute;
    top: -1rem;
    left: 0; }

.hamburger-menu__toggle:checked ~ .background-nav {
  transform: scale(80); }

.hamburger-menu__toggle:checked ~ .navigation {
  opacity: 1;
  width: 100%; }

.hamburger-menu__toggle:checked + .hamburger-menu__button .tiles {
  background-color: transparent; }

.hamburger-menu__toggle:checked + .hamburger-menu__button .tiles::after {
  transform: rotate(135deg);
  top: 0; }

.hamburger-menu__toggle:checked + .hamburger-menu__button .tiles::before {
  transform: rotate(-135deg);
  top: 0; }

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.6s ease-in; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
  .navigation__link, .navigation__link:visited, .navigation__link:link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #001011;
    font-size: 2.6rem;
    padding: 1rem 1.5rem;
    background-image: linear-gradient(135deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 230%;
    transition: all 0.5s; }
    .navigation__link:hover, .navigation__link:active, .navigation__link:visited:hover, .navigation__link:visited:active, .navigation__link:link:hover, .navigation__link:link:active {
      background-position: 100%;
      color: #8fc8eb;
      transform: translateX(1rem); }

/* --pages-- */
.section-about {
  background-color: #eee;
  padding: 10rem 3rem 10rem 3rem;
  margin-top: -8rem; }
  @media only screen and (min-width: 69.375em) {
    .section-about {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      padding: 14rem 6rem;
      margin-top: -12rem;
      clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%); } }

.section-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: center;
  align-content: center;
  gap: 5rem;
  background-image: linear-gradient(to right bottom, rgba(28, 132, 196, 0.8) 70%, rgba(143, 200, 235, 0.8) 100%), url(../../img/nat-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem 3rem;
  margin-top: -10rem;
  clip-path: polygon(0 4%, 100% 0, 100% 96%, 0 100%); }
  @media only screen and (min-width: 25em) {
    .section-features {
      grid-template-columns: minmax(20rem, 43rem); } }
  @media only screen and (min-width: 47.5em) {
    .section-features {
      grid-template-columns: repeat(2, minmax(20rem, 1fr)); } }
  @media only screen and (min-width: 69.375em) {
    .section-features {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
      padding: 14rem 6rem;
      margin-top: -12rem; } }

.section-tours {
  padding: 12rem 3rem 8rem 3rem;
  margin-top: -5rem;
  background-color: #f7f7f7; }
  .section-tours__card-grid {
    display: grid;
    grid-template-columns: minmax(30rem, 35rem);
    gap: 8rem;
    justify-content: center; }
    @media only screen and (min-width: 69.375em) {
      .section-tours__card-grid {
        grid-template-columns: repeat(3, minmax(30rem, 35rem));
        gap: 5rem; } }
  @media only screen and (min-width: 69.375em) {
    .section-tours {
      margin-top: -10rem;
      padding: 12rem 12rem 8rem 12rem; } }

.section-opinions {
  display: grid;
  grid-template-columns: minmax(20rem, 1fr);
  justify-items: center;
  gap: 4rem;
  padding-bottom: 4rem;
  position: relative; }

.section-book {
  display: grid;
  grid-template-columns: minmax(1fr, max-content);
  justify-items: center;
  background-image: linear-gradient(to right bottom, #8fc8eb 0%, #1c84c4 100%);
  padding: 6rem 4rem 6rem 4rem; }

/* --themes--*/
/* --vendors--*/
