/*
COLORS:


Light blue: #B9DDF3
Medium blue:#8FC8EB
Dark blue:#1C84C4

Medium green #49A078
Dark green: #093A3E
White: #FFFFFF
Black: #001011
*/

// COLORS
$color-primary: #8fc8eb;
$color-primary-light: #b9ddf3;
$color-primary-dark: #1c84c4;

$color-secondary: #49a078;
$color-secondary-dark: #093a3e;

$color-tertiary: #ffbf69;
$color-tertiary-dark: #ff9f1c;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #001011;

// FONT-FAMIlY
$default-font: "Lato", sans-serif;

// FONT-SIZE
$fs-s: 1.2rem;
$fs-m: 1.8rem;
$fs-l: 2.4rem;

// FONT-WEIGHT

$fw-n: 300;
$fw-m: 500;
$fw-b: 700;
