*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // That defines unit rem --> 10/16px*100 = 62.5% --> 1rem = 10px

    @include respond(a-s) {
        font-size: 50%; // 1rem = 8px 8/16 = 50%
    }

    @include respond(tablet-portrait) {
        font-size: 56.25%; // 1rem = 9px 9/16 = 56.25%
    }

    @include respond(tablet-landscape) {
        font-size: 62.5%; // 1rem = 10px 8/16 = 62.5%
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px 8/16 = 75%
    }

    @include respond(large-desktop) {
        font-size: 87.5%; // 1rem = 14px 14/16 = 87.5%
    }
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;

    @include respond(tablet-landscape) {
        padding: 3rem;
    }
}
